/** {
  border: 1px solid black;
}*/

body {
  width: 900px;
  margin: 0 auto;
}

main h1 {
  font-family: impact;
  margin-bottom: 0px;
}

main h2 {
  display: inline;
  font-size: 10px;
  color: gray;
  font-weight: lighter;
  font-family: helvetica;
}

main img {
  margin-top: 20px;
  display: block;
}

main div.print {
  float: right;
}

main a {
  text-decoration: none;
}

main .print img {
  display: inline;
  margin-top: 0;
}

main ul {
  border-bottom: 3px solid gray;
  background-image: url('img/list-bg.png');
  padding-top: 30px;
  padding-bottom: 30px;
  width: 860px;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

main p {
  text-indent: 30px;
  width: 900px;
}

header {
  margin-top: 20px;
  height: 100px;
}

header a {
  color: black;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(90%);
}

header li {
  display: inline;
  margin: -1px;
}

.rss {
  margin: 0px 0px 0px 7px;
}

.logo {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}

header h1 {
  text-align: center;
  font-family: 'Mr Dafoe', cursive;
  /*position: relative;*/
  display: inline-block;
  font-size: 30px;
  line-height: 65%;
  /*float: left;*/
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}

#bestfood {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}

header .line-separator{
  height: 7px;
  background: #dbdbdb;
}

footer .line-separator {
  height: 7px;
  background: #dbdbdb;
}

footer img {
  margin-top: 10px;
  float: left;
  margin-right: 5px;
}

footer h3 {
  float: left;
}

#bio {
  font-weight: normal;
  font-size: 15px;
}

footer button {
  margin-top: 30px;
  float: right;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: salmon;
}

footer a {
  text-decoration: none;
  color: white;
}

.eg-side-lined-1 {
  margin-top: 100px;
  display: block;
  overflow: hidden;
  text-align: center;
}
.eg-side-lined-1:before, .eg-side-lined-1:after {
  content: "";
  display: inline-block;
  vertical-align: 15px;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #dbdbdb ;
}
.eg-side-lined-1:before {
  right: 0.5em;
  margin-left: -50%;
}
.eg-side-lined-1:after {
  left: 0.5em;
  margin-right: -50%;
}

#rightsreserved {
  text-align: center;
  color: #dbdbdb ;
  font-size: 10px;
}
