* {
  /*outline: 1px dotted orange;*/
}

body {
  width: 900px;
  margin: 0 auto;
}
/*header .inner {
  position: relative;
    display: inline;
}
header .nav {
  position: absolute;
}*/

header {
  margin-top: 20px;
  height: 100px;
}
header a {
  color: black;
}

header  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(90%);
}

header li {
  display: inline;
  margin: -1px;
}

.rss {
  margin: 0px 0px 0px 7px;
}

.title {

}

.logo {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}

header h1 {
  text-align: center;
  font-family: 'Mr Dafoe', cursive;
  /*position: relative;*/
  display: inline-block;
  font-size: 30px;
  line-height: 65%;
  /*float: left;*/
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}

#bestfood {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}

.line-separator{
  margin-top: -5px;
  height: 7px;
  background: #dbdbdb;
}
