body {
  width: 900px;
  margin: 0 auto;
}

main h1 {
  font-family: impact;
  margin-bottom: 0px;
}

main h2 {
  display: inline;
  font-size: 10px;
  color: gray;
  font-weight: lighter;
  font-family: helvetica;
}

main img {
  margin-top: 20px;
  display: block;
}

main div.print {
  float: right;
}

main .print img {
  display: inline;
  margin-top: 0;
}

main #bg {
  position: relative;
  width: 900px;
  height: 215px;
  margin: 0 auto;
}

.list {

}

main ul {
  background-image: url('img/list-bg.png');
  padding-left: 55px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
  width: 900px;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

main p {
  text-indent: 30px;
  width: 900px;
}

header {
  margin-top: 20px;
  height: 100px;
}
header a {
  color: black;
}

header  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(90%);
}

header li {
  display: inline;
  margin: -1px;
}

.rss {
  margin: 0px 0px 0px 7px;
}

.logo {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}

header h1 {
  text-align: center;
  font-family: 'Mr Dafoe', cursive;
  /*position: relative;*/
  display: inline-block;
  font-size: 30px;
  line-height: 65%;
  /*float: left;*/
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}

#bestfood {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}

.line-separator{
  margin-top: -5px;
  height: 7px;
  background: #dbdbdb;
}
